* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    position: relative;
}
body {
    overflow-x: hidden;
    font-family: "Open Sans", "sans serif";
    background: linear-gradient(45deg, #8419ff3f, #1997ff3e);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(198, 177, 229, 0.5);
}
::-webkit-scrollbar-track {
    background-color: rgba(211, 205, 221, 0.5);
}
