@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$wrapperMaxWidth: 1200px;
$wrapperWidth: 90%;
$headerHeight: 60px;
$purple: rgb(111, 0, 255);
$darkPurple: rgb(44, 0, 91);
